/* Status.module.css */

.container {
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* Aumenta o espaçamento em relação ao topo do container */
}

.label {
  font-size: 1.2rem; /* Aumenta o tamanho da fonte dos labels */
  margin-top: 100px
}

.selectContainer {
  margin-bottom: 20px; /* Adiciona espaçamento abaixo do seletor */
}

.inputContainer {
  margin-bottom: 20px; /* Adiciona espaçamento abaixo do input e select */
}

.inputGroup {
  margin-bottom: 20px; /* Adiciona espaçamento abaixo do input de data */
}

.selectGroup {
  margin-bottom: 20px; /* Adiciona espaçamento abaixo do select de novo status */
}

.buttonContainer {
  margin-top: 20px; /* Adiciona espaçamento acima do botão */
}
