/* EstoqueMenu.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Adiciona mais espaçamento em relação ao topo do container */
}

.formGroup {
  margin-top: 50px;
  padding: 10px;
}

.buttonGroup {
  margin-top: 20px; /* Adiciona espaçamento acima do botão */
  margin-bottom: 20px; /* Adiciona espaçamento abaixo do botão */
}
