/* EstoqueRegistrar.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Adiciona mais espaçamento em relação ao topo do container */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os elementos à esquerda */
  gap: 10px; /* Adiciona espaçamento vertical entre os elementos */
  margin-top: 50px;
  margin-bottom: 50px;
}


.buttonGroup {
  margin-top: 50px;
}