.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  min-height: 70vh; 
  background: rgb(48, 45, 45);
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 10%;
}
