.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 2%;
    border-radius: 25px 25px 0 0;
    width: 96%;
  }

  .navbar span {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .navbar a {
    text-decoration: none;
    color:white;
    margin-right: 15px;
  }